/* THE WHOLE NAVIGATION BAR */
.navigation {
  width: 100%;
  background-color: #00B0F0;
  /*overflow: auto;*/
}
/* ALL ELEMENTS INSIDE THE NAVIGATION BAR */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
/* THE NAVIGATION LAYOUT LINKS/TEXT FOR THE NAV BAR */
li {
  display: inline-block;
}
/* THE NAVIGATION LINKS/TEXT FOR THE NAV BAR */
a {
  color: white;
  margin: 0 20px 0 0;
  font-family: Arial, serif; font-size: 16px; font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #C8C8C8;
}
a:selected {
  color: #595959;
}
body {
  background-color: #262626;
}
.Filter {
  width: 900px; height: 600px;
  margin: 50px auto;
  border: 2px solid white;
  border-radius: 30px;
}
h3 {
  color: white;
  font-family: Arial, serif; font-size: 25px;
  text-align: center;
}
/* Container */
.cateCoun {
  width: auto;
  height: 200px;
  background-color: gold;
}
/* 1 */
.Categories {
  width: 45%; height: 20px;
  color: white;
  float: left;
  background-color: red;
}
/* 2 */
.Countries {
  width: 45%; height: 20px;
  color: white;
  background-color: cyan;
}






